<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="OG:TITELE">
  <meta property="og:description" content="OG:DESCRIPTION">
  <meta property="og:image" content="/static/media/img/iate.jpg">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <title>Учебный процесс ИАТЭ НИАУ МИФИ</title>
</head>
<body>
    <nav>
        <div>
            <a href="/login">
                <img
                    src="/static/media/img/logo.jpg"
                    alt="Описание изображения"
                    width="80"
                    height="60" style="border-width: 0px; filter: inherit;"
                    >
                <span>ИАТЭ НИАУ МИФИ</span>
            </a>
        </div>
    </nav>
</body>
</html>